extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if cartData.length > 0
            .grid
                each product in cartData
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src=product.imageUrl, alt=product.title)
                        div.card__content
                            h2.product__price $ #{product.price}
                            h2.product__price #{product.cartItem.quantity}
                            p.product__description #{product.description}
                        form(action="/delete-cart-item", method="POST").flex
                            input(type="hidden", name="id" value=product.id)
                            button.btn Delete from Cart
            div
                form(action="/checkout", method="POST").flex
                    button.btn Checkout
        else
            h1 No Products