extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product-detail.css")

block content
    main.centered
        if productData
            .productcard
                .product-img
                    img(src=productData.imageUrl, alt=productData.title)
                .product-info
                    .product-text
                        h1 #{productData.title}
                        p #{productData.description}
                    .product-price-btn
                        p
                            span #{productData.price}$
                        form(action="/cart", method="POST")
                            input(type="hidden", name="id" value=productData.id)
                            button Add to Cart
        else
            h1 Could not fetch product details